*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url("img/menubg.png");
    background-color: #fffbf5;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: center;

}

.container {
    text-align: center;
    width: 50%;
    margin: auto;
    /* background-color: rgb(161, 161, 172); opacity: 0.5; */
    background-color: #fffbf5;
    border: 1px solid gray;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 20px;
    padding-top: 10px;
    /* opacity: 50%; */
}

h1 {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 15px;
    /* opacity: 100%; */
}

span {
    padding-left: 8px;
    padding-right: 8px;
}
a {
    text-decoration: none;
    font-size: 12px;
    border: 1px solid gray;
    padding: 4px 8px 4px 8px;
    letter-spacing: 3px;
    color: black;
    background-color: #fffbf5;
    /* opacity: 100%; */
    transition: ease-in-out .3s;
}

a:hover{
    color: #a4884b;
    /* background-color: gray; */
    border-radius: 2px;
    border-color: #a4884b;
}

@media (min-width: 768px) {
    .container{
        width: 33%;
        left:33%;
    }
}