* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
  }

.top {
    text-align: center;
    /* background-image: url(/img/cow.jpg); */
    background-image: url(/img/black_and_white_cow_print_10_hd_cow_print.jpg);
    height: 35vh;
    background-size: length 100vw 35vh;
    z-index: -1;
    position: relative;
}

/* .top::before{
    background-image: url(/img/black_and_white_cow_print_10_hd_cow_print.jpg);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 35vh;
    position: absolute;
    opacity: 25%;
} */

.top-content{
    position: relative;
    background-color:gray;
    height: 35vh;
    opacity: 75%;
    z-index: 0;
}

.menu {
    text-align: center;
    background-color: #f3dde2;
    height: 65vh;
}

.menu-content {
    position: relative;
    margin: 0vh 10vw 0vh 10vw;
}

h1 {
    color: #ffd1dc;
    font-weight: 800;
    font-size: 14vh;
    z-index: 2;
    position: relative;
    /* background-color: black; */
}