* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: sans-serif; */
}

body {
    height: 100%;
    /* background: linear-gradient(to right, #22E4AC, #0FBED8) fixed; */
    background: linear-gradient(to right,#84ACFA, #A8EEFF) fixed;
    /* background: #228B22; */
}

.container {
    background: #fff;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.stats{
    text-align: right;
    color: #101020;
    font-weight: 500;
    line-height: 25px;
}

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.coin img{
    width: 145px;
}

.heads, .tails{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.tails {
    transform: rotateX(180deg);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 120px;
    padding: 18px 0;
    border-radius: 5px;
    /* background-color: #fff; */
    border: 1px solid gray;
    cursor: pointer;
}

#flip-button {
    background: #84ACFA;
    color: #fff;
}

#flip-button:disabled{
    background: #dbe9f4;
    border: 1px solid lightgray;
    color: lightgrey;
}

#reset-button {
    background: #A8EEFF;
    color: gray;
}

/* #reset-button:disabled{
    background: #dbe9f4;
    border: 1px solid lightgray;
    color: lightgrey;
} */

@keyframes spin-tails {
    0% {
        transform: rotateX(0)
    }
    100% {
        transform: rotateX(1980deg)
    }
}

@keyframes spin-heads {
    0% {
        transform: rotateX(0)
    }
    100% {
        transform: rotateX(2160deg)
    }
}